---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables
$base-font-family: "IBM Plex Mono", monospace;
$mono-font-family: "IBM Plex Mono", monospace;
$base-font-size:   17px;
$base-font-weight: 400;
$bold-font-weight: 700;
$base-line-height: 1.8;

$small-font-size:  $base-font-size * 0.875;

$spacing-unit:     2em;
$max-width:        728px;

$text-color:       #333;
$grey-color:       #8F8F8C;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$red:              rgb(178,84,80);
$blue:             rgb(89,137,178);
$yellow:           rgb(251,255,165);
$blue-light:       lighten($blue, 25%);




// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
