<footer class="site-footer">
  <p>Contact <a href="https://twitter.com/robsafar">via Twitter</a>, prose <a href="https://medium.com/@robsafar">via Medium</a>, code <a href="https://github.com/robSafar">via GitHub</a>.</p>
  <p>2017-<script language="javascript" type="text/javascript"> var today = new Date(); var year = today.getFullYear(); document.write(year);</script>. <a href="https://www.ibm.com/plex/">IBM Plex Mono</a> on <a href="https://jekyllrb.com/">Jekyll</a>, <a href="https://about.gitlab.com/features/pages/">GitLab Pages</a>.</p>
</footer>
