<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  {% if post.exturl %}<meta name="robots" content="noindex" />{% endif %}

  <link rel="icon" href="/resources/icon48.png">
  <link rel="icon" type="image/png" href="/resources/icon192.png" sizes="192x192">
  <link rel="apple-touch-icon" href="/resources/apple-touch-icon.png">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  {% if page.layout != 'home' %}<link rel="stylesheet" href="{{ "/css/post.css" | prepend: site.baseurl }}">{% endif %}
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@robSafar" />
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 140 }}" />

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700" rel="stylesheet">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-75060441-1', 'auto');
  ga('send', 'pageview');
  </script>
</head>
