<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NJ2MGW"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NJ2MGW');</script>
<!-- End Google Tag Manager -->
{% if page.layout == 'home' %}<div class="mePhoto">
  <!--<img src="/resources/mePhoto.png">-->
</div>{% endif %}
<header>
  <h1><a href="{{ site.baseurl }}/"><span>rob</span><span>Safar</span></a></h1>
</header>
