<div class="postText">
  <h3><span><a href="{{ post.url }}">"{{ post.title }}"</a></span></h3>
  <p><span>
  {% if post.subtitle %}
    {{ post.subtitle }}
  {% else %}
    {{ post.content | strip_html | truncatewords:35 }}
  {% endif %}
  </span></p>
  <p><span><em>{{ post.date | date:"%d&nbsp;%b&nbsp;%Y" }}</em></span></p>
</div>
{% if post.image %}<img src="/resources/{{ post.image }}">{% endif %}