---
layout: default
---
<div class="description">
  {% if site.description %}
  <p>{{ site.description }}</p>
  {% endif %}
</div>
<ul class="cards">
  {% for post in site.posts limit:10 %}
    <li>
      {% include postItem.html %}
    </li>
  {% endfor %}
</ul>
